<div class="formulario">
    <div class="card-head">
        <h2>User Details </h2>
    </div>
    <div>
        <form class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" disabled value={{data.name}}>
            </div>
            <div class="col-md-6">
                <label class="form-label">User Name</label>
                <input type="text" class="form-control" disabled value={{data.username}}>
            </div>
            <div class="col-md-12">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" disabled value={{data.email}}>
            </div>
            <div class="col-md-4">
                <label class="form-label">Street</label>
                <input type="text" class="form-control" disabled value={{data.address.street}}>
            </div>
            <div class="col-md-2">
                <label class="form-label">Suite</label>
                <input type="text" class="form-control" disabled value={{data.address.suite}}>
            </div>
            <div class="col-md-3">
                <label class="form-label">City</label>
                <input type="text" type="text" class="form-control" disabled value={{data.address.city}}>
            </div>
            <div class="col-md-3">
                <label class="form-label">ZipCode</label>
                <input type="text" class="form-control" disabled value={{data.address.zipcode}}>
            </div>
            <div class="col-md-5">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control" disabled value={{data.phone}}>
            </div>
            <div class="col-md-7">
                <label class="form-label">WebSite</label>
                <input type="text" class="form-control" disabled value={{data.website}}>
            </div>
            <div class="col-md-4">
                <label class="form-label">Company's Name</label>
                <input type="text" class="form-control" disabled value={{data.company.name}}>
            </div>
            <div class="col-md-4">
                <label class="form-label">Company's CatchPhrase</label>
                <input type="text" class="form-control" disabled value={{data.company.catchPhrase}}>
            </div>
            <div class="col-md-4">
                <label class="form-label">Company's BS</label>
                <input type="text" class="form-control" disabled value={{data.company.bs}}>
            </div>
        </form>
    </div>
</div>